/*
Light green for gradient #6fbf44
Dark green for gradient #39833e
Darker green for gradient #2d4d24
*/



 html {
 	box-sizing: border-box;
 	font-family: 'Dosis', sans-serif;
 }

 *, *::before, *::after {
 	box-sizing: inherit;
 }

body 	{
	margin: 0;
}

.masthead {
	background-image: url("../images/masthead-bg.png");
	background-size: 75px auto;
	background-repeat: repeat;
	overflow: hidden;
}

.header {
	position: relative;
	font-size: 1rem;
	padding-top: 10px;
	margin: 0;
}

.left-logo {
	width: 35px;
	position: absolute;
	top: 15px;
	left: 5%;
}

.right-logo {
	width: 35px;
	position: absolute;
	top: 15px;
	right: 5%;
}

h1 {
	text-align: center;
	bottom: 40px;
	margin: 0;
	padding-bottom: 0.4em;
}

.nav-top {
	width: 100%;
}

.ul-top {
	padding: 0;
	margin: 0;
}

.li-top {
	list-style-type: none;
	display: inline-block;
	background-color: #512200;
	width: 25%;
	float: left;
	padding: 0.5em 0;
	opacity: 0.5;
}

.li-top:hover {
	opacity: 0.75;
}

.a-top {
	color: white;
	text-decoration: none;
	width: 100%;
	margin: 0;
	display: inline-block;
	text-align: center;
}

.banner {
	position: relative;
	margin-bottom: 0;
}

.rocks {
	width: 100%;
}

.floating {
	width: 100%;
	font-size: 1.1rem;
	margin: 0;
	color: white;
	text-align: center;
	padding: 1em 4em;
	position: absolute;
	bottom: 0%;
	background-image: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
}

main {
	overflow: hidden;
}

main div {
	overflow: hidden;
	position: relative;
	width: 50%;
}

.ant-nest-div {
	float: left;
}

.stag-div {
	float: right;
}

.dung-div {
	float: left;
}

.tortoise-div {
	float: right;
}

/* These are the images*/
.ant-nest {
	width: 100%;
	float: left;
}

.stag {
	width: 100%;
	float: right;
}

.dung {
	width: 100%;
	float: left;
}

.tortoise {
	width: 100%;
	float: right;
}

/*This is the positioning of the buttons*/
.a-ant-nest{
	float: left;
	clear: left;
	position: absolute;
	bottom: 5%;
	left: 20%;
}

.a-stag{
	float: right;
	clear: right;
	position: absolute;
	bottom: 5%;
	right: 20%;
}

.a-dung{
	float: left;
	clear: left;
	position: absolute;
	bottom: 5%;
	left: 20%;
}

.a-tortoise{
	float: right;
	clear: right;
	position: absolute;
	bottom: 5%;
	right: 20%;
}

/*This is the styling of the buttons*/
.a-ant-nest, .a-stag, .a-dung, .a-tortoise {
	color: white;
	background-image: linear-gradient(to top, #39833e, #6fbf44);
	border-radius: 0.9em;
	text-align: center;
	text-decoration: none;
	font-size: 1.1rem;
	width: 60%;
	padding: 0.25em 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.a-ant-nest:hover, .a-stag:hover, .a-dung:hover, .a-tortoise:hover {
	background-image: linear-gradient(to top, #2d4d24, #39833e);
}

footer {
	background-color: rgba(81, 34, 0, 0.5);
	padding: 2em 0;
	background-image: url("../images/beetle-logo.svg");
	background-repeat: no-repeat;
	position:	relative;
	background-size: 2em;
	background-position: center;
}
