/*
Light green for gradient #6fbf44
Dark green for gradient #39833e
Darker green for gradient #2d4d24
*/



 html {
 	box-sizing: border-box;
 	font-family: 'Dosis', sans-serif;
 }

 *, *::before, *::after {
 	box-sizing: inherit;
 }

body 	{
	margin: 0;
}

.masthead {
	background-image: url("../images/masthead-bg.png");
	background-size: 100px auto;
	background-repeat: repeat;
}


.header {
	position: relative;
	padding-top: 10px;
}

.left-logo {
	width: 50px;
	position: absolute;
	top: 15px;
	left: 15px;
}

.right-logo {
	width: 50px;
	position: absolute;
	top: 15px;
	right: 15px;
}

h1 {
	text-align: center;
	bottom: 40px;
	font-size: 3rem;
	margin: 0;
	padding-bottom: 0.5em;
}

.nav-top {
	width: 100%;
}

.ul-top {
	padding: 0;
	margin: 0;
}

.li-top {
	list-style-type: none;
	display: inline-block;
	background-color: #512200;
	width: 25%;
	float: left;
	padding: 0.5em 0;
}

.a-top {
	color: white;
	text-decoration: none;
	width: 100%;
	margin: 0;
	display: inline-block;
	text-align: center;
	font-size: 150%;
}


.banner {
	position: relative;
}

.rocks {
	width: 100%;
}

.floating {
	font-size: 2rem;
	width: 100%;
	margin: 0;
	color: white;
	text-align: center;
	padding: 1em 2em;
	position: absolute;
	bottom: 0%;
	background-image: linear-gradient(to top, black, transparent);
}







main {
	overflow: hidden;
}

main div {
	overflow: hidden;
	position: relative;
	width: 50%;

}

.ant-nest-div {
	float: left;
}

.stag-div {
	float: right;
}

.dung-div {
	float: left;
}

.tortoise-div {
	float: right;
}






/* These are the images*/
.ant-nest {
	width: 100%;
	float: left;
}

.stag {
	width: 100%;
	float: right;
}

.dung {
	width: 100%;
	float: left;
}

.tortoise {
	width: 100%;
	float: right;
}





/*This is the positioning of the buttons*/
.a-ant-nest{
	float: left;
	clear: left;
	position: absolute;
	bottom: 5%;
	left: 25%;
}

.a-stag{
	float: right;
	clear: right;
	position: absolute;
	bottom: 5%;
	right: 25%;
}

.a-dung{
	float: left;
	clear: left;
	position: absolute;
	bottom: 5%;
	left: 25%;
}

.a-tortoise{
	float: right;
	clear: right;
	position: absolute;
	bottom: 5%;
	right: 25%;
}



/*This is the styling of the buttons*/
.a-ant-nest, .a-stag, .a-dung, .a-tortoise {
	color: white;
	background-image: linear-gradient(to top, #39833e, #6fbf44);
	border-radius: 0.9em;
	text-align: center;
	text-decoration: none;
	font-size: 1.5rem;
	width: 50%;
	padding: 0.3em 0;
}



